@page "/Food/GetAll"

@inject AuthenticationStateProvider authenticationStateProvider
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager


<PageTitle>Food</PageTitle>

@if (food != null)
{
    @foreach (var foodItem in food)
    {
        <div class="food-container">
            <div class="food-details">
                <h2>@foodItem.Name</h2>
                <p><strong>Description</strong>@foodItem.Description</p>
                @if (!string.IsNullOrEmpty(foodItem.ImageUrl))
                {
                    <img src="@foodItem.ImageUrl" />
                }
                <p><strong>Video URL:</strong> @foodItem.VideoUrl</p>
                <p><strong>Diet:</strong> @foodItem.Diet</p>
            </div>
        </div>
    }
}
else
{
    <p>Loading...</p>
}


@code {
    public class Food
    {
        public int Id { get; set; }

        public string? Name { get; set; }

        public string? Description { get; set; }

        public string? VideoUrl { get; set; }

        public string? ImageUrl { get; set; }

        public string? Diet { get; set; }

        public bool IsApproved { get; set; }
    }

    public IEnumerable<Food> food { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetAllFoodAsync();
    }

    private async Task GetAllFoodAsync()
    {
        var httpClient = new HttpClient();

        var response = await httpClient.GetAsync("api/Food/Index");

        var json = await response.Content.ReadAsStringAsync();

        food = JsonConvert.DeserializeObject<IEnumerable<Food>>(json);

    }
}

<style>
    .food-container {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        margin-bottom: 20px;
    }

    .food-details {
        margin-right: 20px;
    }

    .food-details h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }

    .food-details p {
        margin-bottom: 8px;
        color: #555;
    }

    .food-details img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .loading-message {
        font-size: 20px;
        color: #777;
        text-align: center;
        margin-top: 50px;
    }
</style>

